@*
Insert Social links from the site root properties 
Build: Adam Duncan 2012
*@

@using SportsAgronomyServices.Extensions.Library;

@{
	var siteSettings = @Model.AncestorOrSelf("Root");
	
	<h3 class="dark">Social</h3>
	<hr />
	
	<ul class="list_reset list_inline list_social">
		<li>@siteSettings.twitterUsername</li>
	</ul>
	@RazorHelpers.Cock("Adam")
	@Utils.GetName(123)
}
