<%@ master language="C#" masterpagefile="~/masterpages/Master.master" autoeventwireup="true" %>
<asp:content contentplaceholderid="MasterContentHolder" runat="server">
	<div id="page_content" class="main_content landing">
		<h1>
			<umbraco:item field="alternativeTitle" useifempty="pageName" runat="server" />
		</h1>
		<div class="grid_5">
			<umbraco:item field="introText" runat="server" />
		</div>
		<umbraco:macro alias="SystemContentListing" runat="server" />
	</div>
</asp:content>
