<DocTypeFieldsets>
    <ContentTypes>
        <contentType id="1049">
            <GenericProperties>
                <add alias="introText" fieldset="Site intro" />
                <add alias="articlesToDisplay" fieldset="Modules" />
                <add alias="pageImages" fieldset="Media" />
                <add alias="videoUrl" fieldset="Media" />
                <add alias="caseStudiesToDisplay" fieldset="Modules" />
                <add alias="newsArticlesToDisplay" fieldset="Modules" />
                <add alias="technicalArticlesToDisplay" fieldset="Modules" />
                <add alias="techArticlesToDisplay" fieldset="Modules" />
            </GenericProperties>
        </contentType>
        <contentType id="1059">
            <GenericProperties>
                <add alias="introText" fieldset="Content" />
                <add alias="pageImages" fieldset="Media" />
                <add alias="videoUrl" fieldset="Media" />
                <add alias="bodyText" fieldset="Content" />
            </GenericProperties>
        </contentType>
        <contentType id="1064">
            <GenericProperties>
                <add alias="serviceStrapline" fieldset="Content" />
                <add alias="bodyText" fieldset="Content" />
                <add alias="introText" fieldset="Content" />
                <add alias="pageImages" fieldset="Media" />
                <add alias="videoUrl" fieldset="Media" />
            </GenericProperties>
        </contentType>
        <contentType id="1066">
            <GenericProperties>
                <add alias="articleDate" fieldset="Content" />
                <add alias="pageImages" fieldset="Media" />
                <add alias="videoUrl" fieldset="Media" />
                <add alias="introText" fieldset="Content" />
                <add alias="bodyText" fieldset="Content" />
            </GenericProperties>
        </contentType>
        <contentType id="1086">
            <GenericProperties>
                <add alias="contactAddress" fieldset="Contact address" />
                <add alias="contactPersonDetails" fieldset="" />
                <add alias="contactAddressLine1" fieldset="Address" />
                <add alias="contactAddressLine2" fieldset="Address" />
                <add alias="contactCityPostcode" fieldset="Address" />
                <add alias="contactEmail" fieldset="Contacts" />
                <add alias="contactMobileNumber" fieldset="Contacts" />
                <add alias="contactOfficeNumber" fieldset="Contacts" />
                <add alias="contactSkype" fieldset="Contacts" />
            </GenericProperties>
        </contentType>
        <contentType id="1046">
            <GenericProperties>
                <add alias="umbracoInternalRedirectId" fieldset="Configuration" />
                <add alias="googleAnalyticsId" fieldset="Configuration" />
                <add alias="defaultPlaceholderImage" fieldset="Configuration" />
            </GenericProperties>
        </contentType>
    </ContentTypes>
</DocTypeFieldsets>