<ImageGenConfiguration>
	<Registration>
		<!-- ImageGen Professional is always available on localhost and *.local domains -->
		<Key domain="example.com">436DA8888A3BBC98662B23C6D1B635543E762854</Key>
		<Key domain="sample.com">55FD8FD97A199AB3082BC7DC11AE5F743B092C55</Key>
	</Registration>
	<HideDomains>false</HideDomains>
	<RemoteDomainWhiteList>
		<Domain>www.sample.com</Domain>
	</RemoteDomainWhiteList>

	<!-- FONT DEFINITIONS -->
	<Font Name="AvantGardeCE">
		<Filename Style="regular">/fonts/AGW_CE.ttf</Filename>
		<Filename Style="bold">/fonts/AGD_CE.ttf</Filename>
		<Filename Style="italic">/fonts/LTe52012.ttf</Filename>
		<Filename Style="bold, italic">/fonts/LTe52014.ttf</Filename>
	</Font>

	<!-- NAMED CLASSES, INCULDING THE SPECIAL 'DEFAULT' CLASS -->
	<Class Name="Standard" OverridesQueryString="true">
		<AllowUpsizing>false</AllowUpsizing>
		<MaxHeight>374</MaxHeight>
		<MaxWidth>257</MaxWidth>
		<Crop>Resize</Crop>
	</Class>

	<!-- FOLDER CLASSES -->
	<Class Folder="/myproducts" OverridesQueryString="true">
		<Height>100</Height>
	</Class>
	<Class Folder="[test|demo]folder" OverridesQueryString="true">
		<Border>10</Border>
		<Bordercolor>red</Bordercolor>
	</Class>
</ImageGenConfiguration>
